# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.GDTV_SimpleShooter.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\pnava\Documents\Unreal Projects\GDTV_SimpleShooter\.idea\.idea.GDTV_SimpleShooter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
